<!-- templates/alunos_app/criar_aluno.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criar Novo Aluno</title>
  <!-- Vincular ao seu arquivo CSS -->
  <link rel="stylesheet" href="{% static 'seu_app/css/styles.css' %}">
</head>
<body>

  <header>
    <h1>Criar Novo Aluno</h1>
  </header>

  <section class="container">
    <h2>Preencha os detalhes do novo aluno:</h2>

    <form method="post" action="{% url 'criar_aluno' %}" class="col-md-6 mx-auto">
      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit">Criar Aluno</button>
    </form>
  </section>

</body>
</html>

